<div id="menu" class="menu">
<div class="headerLogo"><img style="max-width:98%" src="images/logo.png" alt=""></div>
   
<div class="headerLinks">
    <p><a href="/">Home</a></p>
    <p><a href="/register">Contact</a></p>
</div>


</div>
