<!DOCTYPE html>
<html>
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <h1>Blogger's Main Page</h1>
    <h2><%= title%></h2>
    <h2>Blogs</h2>
  
 <ul> 
     <li>blog#1</li>
 </ul>
 <%- include('config/footer.ejs')%>
</html>