<!DOCTYPE html>
<html>
    <%- include('config/head.ejs')%>
<body>
 
    <canvas id="bkgdCanvas"></canvas>  
<div id="backgroundFX">
 
   
    <%- include('config/header.ejs')%>
    <%- include('config/bkgdImg.ejs')%>
    <div class="mainStyle">

     <div class="landingPage">   
    <h1>Southern Oklahoma Pride Events</h1>
    <div class="eventBody">
    <h1>Event title</h1>
    <h2>Event Subtitle and Date</h2>
     <p>EventDettaillores Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos laborum ducimus illo eligendi iste ullam architecto culpa corporis eum beatae dolor dolorum, maiores esse, in accusamus veniam nesciunt autem animi.</p>
 
    <div class="imgBox"><img class="mainImg"src="images/knb.jpg" alt=""></div>
    </div>
</div>
 
</div>
<%- include('config/footer.ejs')%>
</div>
<!--script src="javascripts/backgroundFX1.js"></script-->
</body>
 </html>