<!DOCTYPE html>
<html>
    <body>
        <canvas id="bkgdCanvas"></canvas>  
        <div id="backgroundFX">
    <%- include('config/head.ejs')%>
    <%- include('config/header.ejs')%>
    <div class="mainStyle">
    <h1><%=title%></h1>
  <form action="/loginUser" method="post">
      <input type="text" name="email" >
      <input type="text" email="password">


      <button type="submit">login</button>
      </form>
  </div>
     
  
  

 <%- include('config/footer.ejs')%>
        </div>
        <script src="javascripts/backgroundFX1.js"></script>
</body>
</html>