@use './media.scss';
$red:rgba(255, 0, 0, 0.674);
$blue:rgba(0, 183, 255, 0.857);
$green:rgba(30, 255, 0, 0.57);
$yellow:rgba(201, 235, 31, 0.733);
$pink:rgba(235, 178, 173, 0.733);
$transparent:rgba(0,0,0,0);
$error:red;

@mixin mqs {
  @include media.mobile();
  @include media.tablet();
  @include media.desk();
  @include media.xlrg();
  }


body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //background-color:white;
}
h1{
  color:$blue;
  @include mqs();
}
h2{
  @include mqs();
}
p{
  margin:2%;
  padding: 1%;
  @include mqs();
}
a{
  color: $blue;
  @include mqs();
}
li{
@include mqs();
}
#menu{
  a{color: rgb(255, 255, 255);}
  font-weight: 950;
}
.footer{
  z-index: 5;
  color: $yellow;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
  p{
    font-size: 1.2rem;
  }
  a{font-size: 1.2rem;}
 }
#bkgdCanvas{
z-index: -1;
  position: fixed;
  background-color:$transparent;
  border: 1px solid red;
  margin: 0;
  padding: 0;
min-height: 100vh;
min-width: 100vw;
}
//graphics overlay back
#backgroundFX{
 margin: 0;
 padding: 0;
 min-width: 100vw;
 min-height: 100vh;
 //background-image: src('./images/oklaImg.png');
background:linear-gradient(to right,$red,$yellow, $green,$blue);
}
//background Img Style
img.okImg{
  position:fixed;
  z-index: -1;
  margin-top: 50%;
  transform: rotate(0) translateY(-50%);
  width: 100%;
  filter: opacity(.3);
  transform-style: preserve-3d;
@include media.bkgdImg();
}
//button styles
button{
  margin: 0px 3px;
}
form{
button{
 margin-left: 15%;
  min-width:60%;
 //min-height:65px;
}
h2{
  font-size: 3em;
}


}
//input boxes
input{

  border: 1px solid rgba(0,0,0,.9);
 min-width: 96%;
 min-height: 65px;
margin: 2px;
padding: 0;
      font-size: 3rem;
    color: black;font-weight: 800;
    background-color: $blue;

}
input[type="checkbox"]::before{
  border: 3px solid black;
}
input:focus{
  border:  3px solid rgba(255, 15, 15, 0.9);
  background-color: $pink;
}
//form error styling
.validateError{
  color:$error;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transform-style:preserve-3d ;
  transform: translateY(-15px);
}
button.trash{
  max-width: 20px;
  max-height: 20px;
}
//main content boxing style
.mainStyle{
  //background-color: white;
  margin: 2%;
  padding: 1%;
 // transform-style: preserve-3d;
  //transition-duration: 1.2s;
  //transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: 1.2s ease-in 1s 1 slidein;

}
img.mainImg{
  width:100%;
  padding: 0%;
  margin: 0%;
}
.imgBox{
  margin: 0;
  padding: 0;
  width: 100%;
  @include media.mainImg;
}
//MENU STYLES
.menu{
  display: flex;
  }
@keyframes slidein(){
  0%{opacity:0;transform:translateX(-45px)}
  100%{opacity:1;transform:translateX(0px)}
}
table{
width: 100%;
max-height: 50%;
overflow-y: scroll;
}
td{
  
  border: 1px dotted black;
}
th{
  text-align: left;
}