@use './media.scss';
$red:rgba(255, 0, 0, 0.674);
$blue:rgba(0, 183, 255, 0.857);
$green:rgba(30, 255, 0, 0.57);
$yellow:rgba(201, 235, 31, 0.733);
$pink:rgba(235, 178, 173, 0.733);
$transparent:rgba(0,0,0,0);
$error:red;

@mixin mqs {
  @include media.mobile();
  @include media.tablet();
  @include media.desk();
  @include media.xlrg();
  }

//***********************MAIN APP STYLES****************//
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  //background-color:white;
}
button{
  min-width:92%;
  min-height:35px;
  margin-left: 4%;
  border-radius: 25px;
  border: inset 3px solid black

}
h1{
  color:$blue;
  @include mqs();
}
h2{
  @include mqs();
}
p{
  margin:2%;
  padding: 1%;
  @include mqs();
}
a{
  color: $blue;
  @include mqs();
}
li{
@include mqs();
}
#menu{
  a{color: rgb(255, 255, 255);}
  font-weight: 950;
}
.footer{
  z-index: 5;
  color: $yellow;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
  p{
    font-size: 1.2rem;
  }
  a{font-size: 1.2rem;}
 }

 //***********destiled DESIGNS***********//
 .adminSection{
  border:1px solid black;
  margin:2%;
  padding:2%
 }
#bkgdCanvas{
z-index: -1;
  position: fixed;
  background-color:$transparent;
  border: 1px solid red;
  margin: 0;
  padding: 0;
min-height: 100vh;
min-width: 100vw;
}
//graphics overlay back
#backgroundFX{
 margin: 0;
 padding: 0;
 min-width: 100vw;
 min-height: 100vh;
 //background-image: src('./images/oklaImg.png');
background:linear-gradient(to right,$red,$yellow, $green,$blue);
}
//background Img Style
img.okImg{
  position:fixed;
  z-index: -1;
  margin-top: 50%;
  transform: rotate(0) translateY(-50%);
  width: 100%;
  filter: opacity(.3);
  transform-style: preserve-3d;
@include media.bkgdImg();
}


form{
  margin: 0;
  padding: 0;

h2{
  padding: 2%;
  margin: 0%;
}
}
//input boxes
input{

  border: 1px solid rgba(0,0,0,.9);
 min-width: 96%;
 max-height: 35px;
margin: 1%;
padding: 1%;
       color: black;
    background-color: $blue;

}
textarea{
  background-color: $blue;
  min-width:96%;
  min-height: 60px;
  margin: 1%;
  padding:0;
}
input:focus{
  border:  3px solid rgba(255, 15, 15, 0.9);
  background-color: $pink;
}
@keyframes fadein{
  0%{opacity:0; background-color:$red}
  50%{opacity:0; background-color:$red}
  95%{opacity:50; background-color:$yellow;}
  100%{opacity:100; background-color:$red;}
}
.delButton{
  display: none;
 //transform-style: preserve-3d;
  animation: 2s ease-in-out 1 fadein;
  background-color: $red;
  //transform: tranlateY(100%);

}

//form error styling
.validateError{
  padding: 0;
  margin: 1%;
  color:$error;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transform-style:preserve-3d ;
  transform: translateY(-15px);
}

//main content boxing style
.mainStyle{
  //background-color: white;
  margin: 2%;
  padding: 1%;
 // transform-style: preserve-3d;
  //transition-duration: 1.2s;
  //transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: 1.2s ease-in 1s 1 slidein;

}
img.mainImg{
  width:100%;
  padding: 0%;
  margin: 0%;
}
.eventBody{
  border:1px solid black;
  padding:2%;
}
.imgBox{
  margin: 0;
  padding: 0;
  width: 100%;
  @include media.mainImg;
}
//MENU STYLES
.menu{
  display: flex;
  }
@keyframes slidein(){
  0%{opacity:0;transform:translateX(-45px)}
  100%{opacity:1;transform:translateX(0px)}
}
table{
width: 100%;
max-height: 50%;
overflow-y: scroll;
}
td{
  padding: 1%;
 // border: 1px dotted black;
}
th{
  text-align: left;
}
.messagebox{
  width: 100%;
  font-size: 1em;
}
.details{
  justify-content: space-evenly;
  padding:2%;
  display:flex;

}
.detailItem{
  flex-grow: 2;
  padding:2%;
border: 1px solid black;
}
@keyframes spinner{
  0%{transform: rotate(0deg) translateY(-50%) translateX(-50%);}
  100%{transform: rotate(360deg) translateY(-50%) translateX(-50%);}
}
.loadContainer{
  animation: 1.3s infinite linear spinner;
  position: absolute;
  transform-origin: 0 -8%;
  transform: translateY(-50%) translateX(-50%);
  margin-top:50vh;
  margin-left:50vw;
  min-height: 80px;
  min-width: 80px;
  background-color: rgba(255, 192, 203, 0.377);
  border-radius: 40px;
}

.loadScreen{
  top: 0;
  left:0;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  z-index:10;
  display: none;
  background-color: rgba(0,0,0,.85);
}
.vDetails{
  left:5%;
  display: none;
  position: fixed;
  background-color: pink;
  z-index: 3;
  min-width: 90%;
  min-height: 90%;
 
}