body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:white;
}
#bkgdCanvas{
z-index: -1;
  position: fixed;
  background-color:rgba(0,0,0,0);
  border: 1px solid red;
  margin: 0;
  padding: 0;
min-height: 100vh;
min-width: 100vw;
}
#backgroundFX{
 margin: 0;
 padding: 0;
 min-width: 100vw;
 min-height: 100vh;
 background-image: src('./images/oklaImg.png');

}
h1{
  color:red
}
a {
  color: #00B7FF;
}

.validateError{

  color:red;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transform-style:preserve-3d ;
  transform: translateY(-15px);
}
.menu{

  display: flex;
  
  p{
    margin:2%;
  }
}